mt1{
    color: rgb(255, 0, 0);
    align-items: center;
    text-align: center;
    font-family: 'Bradley Hand ITC';
    font-size: 1cm;
}
p{
    font-family: 'Comic Sans MS';
    color: rgb(6, 46, 243);
}